img{
	height: 150px;
	width: auto;
}
#end_win, #end_lose{
	height: 150px;
	margin: 10px;
	display: none;
}
#feedback{
	/*align text vertically*/
	background-color: rgba(0, 0, 0, .75);
	color: white;
	border-radius: 5px;
	width: 600px;
	height: 75px;
	padding: 15px;
	margin: auto;
	display: none;
}
section{
	text-align: center;
	font-family: 'Patrick Hand SC', cursive;
}
header, footer {
	color: white;
	padding: 1%;
}
header{
	background-color: black;	
}
body{
	/*I'm going to link this to a filepath once it is "live"*/
	background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/CXX84JS85W.jpg") repeat fixed center center /
	cover rgba(0, 0, 0, 0);
}
.instructions{
	background-color: rgba(249, 242, 236, .75);
	border-radius: 10px;
	width: 800px;
	padding: 5px;
	display: block;
	margin:20px auto 20px auto;
}
input{
	width: 200px;
	height: 75px;
	text-align: center;
	border: 2px double black;
	font-size: 20px;
}
button{
	border-radius: 5px;
	box-shadow: 3px 3px 5px #000;
	background-color: #ADC57B;
	transition: all 0.1s ease-in-out;
}
button.guess{
	width: 150px;
	height: 60px;
	font-size: 20px;
}
button.options{
	width: 100px;
}
ul li{
	display: inline-block;
	margin: 5px;
}
@font-face {
      font-family: 'Patrick Hand SC';
      font-style: normal;
      font-weight: normal;
 }
button:hover{
	background-color: black;
	color: white;
}